ALTER TABLE public.racers ADD COLUMN tournament_races INTEGER DEFAULT 0; ALTER TABLE public.racers ADD COLUMN tournament_wins INTEGER DEFAULT 0; ALTER TABLE public.racers ADD COLUMN tournament_win_rate INTEGER DEFAULT 0; ALTER TABLE public.racers ADD COLUMN tournament_avg_pos NUMERIC DEFAULT 0;
